@use 'config/config' as *;

/*Slider*/

.carousel-cell {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-cell img {
  width: 100%;
  height: auto;
  display: block;
  cursor: grab;
}

.carousel-cell img:active {
  cursor: grabbing;
}

.slider-image {
  border-radius: $radius-medium;
  border: $border-sm solid;
  border-color: $black-medium;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-carousel {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.carousel-cell.is-selected img {
  transition: border-color 0.3s $easing-bounce;
}

.carousel-cell.is-selected img:hover {
  border-color: $black-dark;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 10.5rem;
}

/* white circles */
.flickity-page-dots .dot {
  width: space(3);
  height: space(3);
  opacity: 1;
  background: $white;
  z-index: z(loader);
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $yellow-dark;
  width: space(4);
  height: space(4);
  transition: border 0.3s $easing-bounce, height 0.3s $easing-bounce;
}

.slider-figure {
  background: $white;
  border-radius: $radius-large;
  margin: 0 1.6rem 1.2rem 1.6rem;
  padding: 1.3rem;
  border: $border-md solid;
  border-color: $black-dark;
  box-shadow: $solid-shadow;
}

.slider-figure:hover {
  background-color: $yellow-dark;
}

.slider-figure:hover small {
  color: $black-dark;
}

.slider-heading {
  padding-top: space(4);
  word-wrap: break-word;
}

.carousel-link {
  text-decoration: none;
  font-size: font-size(xl);
  color: $black-dark;
  font-weight: $weight-bold;
  transition: color 0.3s $easing-bounce;
  display: block;
}

.projects-subtext {
  font-family: $font-poppins;
  font-size: font-size(sm);
  font-weight: $weight-semibold;
  text-transform: uppercase;
}

.carousel-link small {
  font-family: $font-poppins;
  color: $blue-dark;
  font-weight: $weight-bold;
  font-size: font-size(md);
  text-transform: uppercase;
  display: block;
  word-wrap: break-word;
}

/* Keyframes for the bounce animations */
@keyframes bounce-left {
  0%, 95%, 100% {
    transform: translateY(-50%);
  }
  2% {
    transform: translateY(-50%) translateX(-6px);
  }
  4% {
    transform: translateY(-50%) translateX(-4px);
  }
  6% {
    transform: translateY(-50%) translateX(-2px);
  }
}

@keyframes bounce-right {
  0%, 95%, 100% {
    transform: translateY(-50%);
  }
  2% {
    transform: translateY(-50%) translateX(6px);
  }
  4% {
    transform: translateY(-50%) translateX(4px);
  }
  6% {
    transform: translateY(-50%) translateX(2px);
  }
}

.flickity-button {
  background: $white;
  transform: translateY(-50%);
  transform-origin: center !important;
  will-change: transform;
  transition: transform 0.2s $easing-bounce,
    background-color 0.2s $easing-bounce,
    box-shadow 0.2s $easing-bounce;
}

.flickity-button:hover {
  background-color: $yellow-dark;
  box-shadow: $solid-shadow-sm;
  transform: translateY(calc(-50% + 2px));
}

.flickity-prev-next-button {
  width: 4rem;
  height: 7rem;
  border: solid;
  border-radius: $radius-small;
  border-color: $black-dark;
  border-width: $border-md;
  box-shadow: $solid-shadow-md;
}

/* Apply the animations to both buttons */
.flickity-prev-next-button.previous {
  left: -4rem;
  animation: bounce-left 5s $easing-bounce infinite;
}

.flickity-prev-next-button.next {
  right: -4rem;
  animation: bounce-right 5s $easing-bounce infinite;
}

/* Pause the animations on hover to improve usability */
.flickity-prev-next-button:hover {
  animation-play-state: paused;
}

/* icon color */
.flickity-button-icon {
  fill: $black-dark;
  width: 80%;
}

/* Ratio of the svg position */
.flickity-prev-next-button .flickity-button-icon {
  height: 70%;
  width: 70%;
  left: 15%;
  top: 15%
}

.slider-grid img {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* Responsive font size variables */
@media screen and (max-width: $widescreen) {
  .flickity-prev-next-button {
    width: 3.5rem;
    height: 6rem;
  }
  
  .flickity-prev-next-button.previous {
    left: -1.5rem;
    animation: bounce-left 5s $easing-bounce infinite;
  }
  
  .flickity-prev-next-button.next {
    right: -1.5rem;
    animation: bounce-right 5s $easing-bounce infinite;
  }
}

@media screen and (max-width: $tablet-lg) {
  .slider-figure {
    margin: 0 1.5rem 1rem 1.5rem;
    padding: space(4);
  }
  
  .flickity-prev-next-button {
    width: 3rem;
    height: 5rem;
  }
  
  .flickity-prev-next-button.previous {
    left: -1rem;
    animation: bounce-left 5s $easing-bounce infinite;
  }
  
  .flickity-prev-next-button.next {
    right: -1rem;
    animation: bounce-right 5s $easing-bounce infinite;
  }
}

@media screen and (max-width: $tablet) {
  .slider-figure {
    margin: 0 1.5rem 0.8rem 1.5rem;
    padding: 0.8rem;
  }
  
  .flickity-prev-next-button {
    width: 2.5rem;
    height: 4rem;
  }
  
  .flickity-prev-next-button.previous {
    left: -0.5rem;
    animation: bounce-left 5s $easing-bounce infinite;
  }
  
  .flickity-prev-next-button.next {
    right: -0.5rem;
    animation: bounce-right 5s $easing-bounce infinite;
  }
  
  .flickity-page-dots {
    bottom: 8.4rem;
  }
}

@media screen and (max-width: $mobile-lg) {
  .slider-figure {
    margin: 0 1.5rem 0.6rem 1.5rem;
    padding: 0.6rem;
  }
  
  .slider-heading {
    padding-top: 0.6rem;
  }
  
  .flickity-prev-next-button {
    width: 2rem;
    height: 3.5rem;
    display: none;
  }
  
  .flickity-prev-next-button.previous,
  .flickity-prev-next-button.next {
    animation: none;
  }
  
  .flickity-page-dots {
    bottom: 6.3rem;
  }
  
  .flickity-page-dots .dot {
    width: calc(#{space(3)} * 0.8);
    height: calc(#{space(3)} * 0.8);
  }
  
  .flickity-page-dots .dot.is-selected {
    width: calc(#{space(4)} * 0.8);
    height: calc(#{space(4)} * 0.8);
  }
}

@media screen and (max-width: $mobile-sm) {
  .slider-figure {
    margin: 0 1.5rem 0.4rem 1.5rem;
    padding: 0.4rem;
  }
  
  .slider-heading {
    padding-top: 0.4rem;
  }
}

@media screen and (max-width: $mobile-xs) {
  .slider-figure {
    margin: 0 1.5rem 0.3rem 1.5rem;
    padding: 0.3rem;
  }
  
  .slider-heading {
    padding-top: 0.3rem;
  }
}