/* =====================================
   Filter Navigation
===================================== */
.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: var(--spacing-2) 0;
    width: 100%;
    max-width: 100%;
}

.filter a {
    transition: transform 0.3s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        background 0.3s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        box-shadow 0.3s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        color 0.3s cubic-bezier(0.25, 1.75, 0.5, 1.2);
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 var(--spacing-4) 0 var(--spacing-4);
    margin: var(--spacing-1);
    color: var(--color-white);
    font-weight: var(--font-bold);
    font-size: var(--font-size-xl);
    border-radius: var(--rounded-sm);
    border: solid var(--color-black-dark);
    background: var(--color-blue-medium);
    box-shadow: var(--solid-shadow-sm);
    text-align: center;
    line-height: 2;
}

.filter a.activeFilter {
    background: var(--color-yellow-dark);
    color: var(--color-black-dark);
    font-weight: var(--font-black);
    box-shadow: var(--solid-shadow-xs);
}

.filter a:hover {
    color: var(--color-black-dark);
    font-weight: var(--font-black);
    background: var(--color-yellow-dark);
    transform: scale(0.95);
    box-shadow: var(--solid-shadow-xs);
}

.filter-block {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 var(--spacing-7);
    width: 100%;
}

/* =====================================
   Projects Grid
===================================== */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem !important;
}

.projects img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pagination-block {
    justify-content: center;
    text-align: center;
}

.projects-caption {
    text-align: left;
}

.projects-figure {
    background: var(--color-white);
    margin: 0 var(--spacing-2) 0rem var(--spacing-2);
    padding: 1rem;
    border: var(--border-xsm) solid;
    border-color: var(--color-black-dark);
    box-shadow: var(--solid-shadow-md);
    border-radius: var(--rounded-lg);
    height: 40vh;
    transition:
        transform 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        background-color 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        font-weight 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        box-shadow 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2);
}

.projects-figure img {
    border-radius: var(--rounded-sm);
    border: solid var(--border-xsm);
}

.projects-figure figcaption {
    padding: 0.8rem 0 0 0;
    font-family: var(--font-barlow);
}

.projects-link {
    text-decoration: none;
    font-size: var(--font-size-xl);
    color: var(--color-black-dark);
    font-weight: var(--font-bold);
    position: relative;
    display: block;
}

.project-details {
    margin-top: auto;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.projects-genre-tag {
    background-color: var(--color-blue-medium);
    color: var(--color-white);
    padding: 0.2rem 0.5rem;
    border-radius: var(--rounded-sm);
    font-size: var(--font-size-sm);
    display: inline-block;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.engine-icon-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.engine-icon-container svg {
    height: 1.5rem;
    width: auto;
}

.projects-link:hover .projects-figure {
    background-color: var(--color-yellow-dark);
    transform: scale(0.97);
    box-shadow: var(--solid-shadow-xs);
}

.projects-link:hover .projects-genre-tag {
    background-color: var(--color-black-dark);
    color: var(--color-white);
    font-weight: var(--font-black);
}

/* =====================================
   Pagination Section
===================================== */
.pagination-dead-link {
    color: var(--color-black-dark);
    background-color: var(--color-white);
    opacity: 0.6;
    font-size: var(--font-size-2xl);
    padding: var(--spacing-2);
    border: solid;
    border-radius: var(--rounded-sm);
    border-color: var(--color-black-dark);
    border-width: var(--border-xs);
    box-shadow: var(--solid-shadow-sm);
    cursor: no-drop;
}

.pagination-link {
    padding: var(--spacing-2);
    font-size: var(--font-size-2xl);
    background-color: var(--color-white);
    border: solid;
    border-radius: var(--rounded-sm);
    border-color: var(--color-black-dark);
    border-width: var(--border-xs);
    box-shadow: var(--solid-shadow-sm);
    transition: transform 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        background-color 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2),
        box-shadow 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2);
    cursor: pointer;
}

.pagination-link a {
    color: var(--color-black-dark);
    text-decoration: none;
}

.pagination-link:hover {
    background-color: var(--color-yellow-dark);
    transform: scale(0.95);
    box-shadow: var(--solid-shadow-xs);
}

.indicate-page-text {
    color: var(--color-white);
    font-weight: var(--font-bold);
    font-size: var(--font-size-xl);
    margin: 0 var(--spacing-6) 0 var(--spacing-6);
    text-transform: uppercase;
    outline: black;
    opacity: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-6) 0;
}


.engine-icon-container {
    margin-top: var(--spacing-3);
}


.engine-icon-container svg {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-top: var(--spacing-1);
}

.projects-genre-tag {
    font-family: var(--font-barlow);
    font-weight: var(--font-bold);
    font-size: var(--font-size-xs);
    color: var(--color-white);
    text-transform: uppercase;
    padding: var(--spacing-1);
    background: var(--color-blue-dark);
    border: solid;
    border-color: var(--color-black-dark);
    border-radius: var(--rounded-xs);
}

.tag-container {
    margin-top: var(--spacing-2);
}

.projects-block {
    margin-bottom: 2rem;
}


/* =====================================
   Responsive Styles
===================================== */

/* Large Screens */
@media (min-width: 1441px) {
    .projects-figure {
        height: 42vh;
    }
 
}

/* Laptops and Small Desktops */
@media (max-width: 1440px) {

    /* Filter */
    .filter a {
        font-size: calc(var(--font-size-xl) * 0.9);
        padding: 0 var(--spacing-3);
    }

    /* Projects */
    .projects-figure {
        height: 40vh;
    }

    /* Pagination */
    .pagination-link,
    .pagination-dead-link {
        font-size: var(--font-size-xl);
        padding: var(--spacing-2);
    }

    .indicate-page-text {
        font-size: var(--font-size-lg);
        margin: 0 var(--spacing-5) 0 var(--spacing-5);
    }

    .page-zoom {
        transform: scale(0.8);
    
    }

    
}

/* Desktops and Laptops */
@media (max-width: 1200px) {
    .projects-figure {
        height: auto !important;
        min-height: 35vh;
    }
    


}

/* Tablets */
@media (max-width: 992px) {

    .page-zoom {
        transform: scale(1);
    
    }

    /* Filter */
    .filter a {
        font-size: calc(var(--font-size-xl) * 1.1);
        padding: 0 var(--spacing-4);
        line-height: 2.2;
    }

    .filter-block {
        padding: 0 var(--spacing-5);
    }

    /* Projects */
    .projects {
        display: block !important;
        /* Change from grid to block */
    }

    .projects-link {
        display: block !important;
        margin-bottom: 2rem !important;
        font-size: var(--font-size-lg);
    }

    .projects-figure {
        height: auto !important;
        min-height: 35vh;
        padding: 1rem;
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .projects-figure img {
        max-height: 250px;
    }

    .projects-caption h5 {
        font-size: var(--font-size-xl);
        margin-bottom: 0.5rem;
    }

    .projects-caption h6 {
        font-size: var(--font-size-md);
    }

    .projects-genre-tag {
        font-size: var(--font-size-sm);
        padding: 0.2rem 0.5rem;
    }

    .engine-icon-container h6 {
        font-size: var(--font-size-md);
    }

    .engine-icon-container svg {
        height: 1.5rem;
    }

    /* Pagination */
    .pagination-link,
    .pagination-dead-link {
        font-size: var(--font-size-lg);
        padding: var(--spacing-1) var(--spacing-2);
        border-width: calc(var(--border-xs) * 0.9);
    }

    .indicate-page-text {
        font-size: var(--font-size-md);
        margin: 0 var(--spacing-4) 0 var(--spacing-4);
    }

    nav {
        margin: var(--spacing-5) 0;
    }

    .projects-block {
        margin-bottom: 2rem;
    }
}

/* Small Tablets */
@media (max-width: 768px) {

    /* Filter */
    .filter {
        justify-content: center;
        padding: var(--spacing-2) 0;
    }

    .filter a {
        font-size: var(--font-size-md);
        margin: var(--spacing-2);
        padding: 0 var(--spacing-4);
        line-height: 2.4;
    }

    .filter-block {
        padding: 0 var(--spacing-3);
    }

    /* Pagination */
    .pagination-link,
    .pagination-dead-link {
        font-size: var(--font-size-md);
        padding: var(--spacing-1);
        border-width: calc(var(--border-xs) * 0.8);
    }

    .indicate-page-text {
        font-size: var(--font-size-sm);
        margin: 0 var(--spacing-3) 0 var(--spacing-3);
    }

    nav {
        margin: var(--spacing-4) 0;
    }

    .projects-block {
        margin-bottom: 2rem;
    }
}

/* Mobile */
@media (max-width: 576px) {

    /* Filter */
    .filter {
        justify-content: center;
    }

    .filter a {
        font-size: calc(var(--font-size-xl) * 1.1);
        margin: var(--spacing-2);
        padding: 0 var(--spacing-3);
        line-height: 2.4;
    }

    .filter-block {
        padding: 0 var(--spacing-2);
    }

    /* Projects */
    .projects-figure {
        min-height: 32vh;
        padding: 0.75rem;
    }

    .projects-caption h5 {
        font-size: var(--font-size-lg);
        margin-bottom: 0.25rem;
    }

    .projects-caption h6 {
        font-size: var(--font-size-sm);
    }

    .projects-genre-tag {
        font-size: var(--font-size-xs);
        padding: 0.15rem 0.4rem;
    }

    .engine-icon-container h6 {
        font-size: var(--font-size-sm);
    }

    .engine-icon-container svg {
        height: 1.2rem;
    }

    .projects-block {
        margin-bottom: 2rem;
    }
}

/* Small Mobile */
@media (max-width: 480px) {

    /* Filter */
    .filter {
        gap: var(--spacing-2);
    }

    .filter a {
        font-size: var(--font-size-md);
        line-height: 2.5;
        margin: calc(var(--spacing-1)* 0.2);
        padding: 0 var(--spacing-2);
    }

    /* Pagination */
    .pagination-link,
    .pagination-dead-link {
        font-size: var(--font-size-md);
        padding: calc(var(--spacing-1) * 0.75);
        border-width: calc(var(--border-xs) * 0.7);
    }

    .indicate-page-text {
        font-size: var(--font-size-xs);
        margin: 0 var(--spacing-2) 0 var(--spacing-2);
    }

    nav {
        margin: var(--spacing-3) 0;
    }

    .projects-block {
        margin-bottom: 2rem;
    }
}

/* Extra Small Mobile */
@media (max-width: 320px) {

    /* Projects */
    .projects-figure {
        min-height: 30vh;
        width: 95% !important;
        padding: 0.5rem;
    }

    .projects-figure img {
        max-height: 200px;
    }

    .projects-caption {
        padding-top: 0.5rem;
    }

    .projects-block {
        margin-bottom: 2rem;
    }
}