/* Global Reset */
*,
*::after,
*::before {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-blue-light);
  font-family: var(--font-poppins);
  color: var(--color-black-medium);

}

html {
  font-size: 100% !important;
}

body {
  line-height: 1.6;
  z-index: 0;
}



/* Scrolling Background Styling */
.scrolling-background {
  position: fixed;
  /* Stays in place when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-light);
  /* Match the body */
  background-image: url('/assets/img/pattern.png');
  background-repeat: repeat;
  background-size: 960px 540px;
  opacity: 0.3;
  /* Keep pattern visible but subtle */
  animation: diagonalScroll 20s linear infinite;
  pointer-events: none;
  /* Ensures background doesn't interfere with content */
  z-index: -1;
  image-rendering: pixelated;
}

/* Background Animation */
@keyframes diagonalScroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -960px -540px;
    /* Move background to cover its size */
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 64em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  padding-top: var(--spacing-12);
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Ensures it fills remaining space */
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* Adds space between sections */
}


.filter a {
  transition: transform 0.3s  cubic-bezier(0.25, 1.75, 0.5, 1.2), background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 var(--spacing-4) 0 var(--spacing-4);
  margin: 0 var(--spacing-1) 0 var(--spacing-1);
  color: var(--color-white);
  font-weight: var(--font-bold);
  font-size: var(--font-size-xl);
  border-radius: var(--rounded-sm);
  border: solid var(--color-black-dark);
  background: var(--color-blue-medium);
  box-shadow: var(--solid-shadow-sm);
  
}


.filter a.activeFilter {
  background: var(--color-yellow-dark);
  color: var(--color-black-dark);
  font-weight: var(--font-black);
  box-shadow: var(--solid-shadow-xs);

  
}

.filter a:hover {
  color: var(--color-black-dark);
  font-weight: var(--font-black);
  background: var(--color-yellow-dark);
  transform: scale(0.95);
  box-shadow: var(--solid-shadow-xs);
}



.content-block { /*TODO Add clip path in the future to make corner look cooler*/
  margin-top: 6.5rem;
  padding: .4rem .9rem;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--rounded-md);
  border: var(--border-sm) solid;
  border-color: var(--color-black-dark);
  /* background: #F4F2EE;*/
  box-shadow: var(--solid-shadow);
  
}

.filter-block {
  justify-content: center;
  text-align: center;
  padding: 0 var(--spacing-7) 0 var(--spacing-7);
}

/* Projects Section */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
}

.projects img {
  width: 100%;
  display: block;
}

.pagination-block {
  justify-content: center;
  text-align: center;
}


.pagination-dead-link {
  color: var(--color-black-dark);
  background-color: var(--color-white);
  opacity: 0.6;
  font-size: var(--font-size-2xl);
  padding: var(--spacing-2);
  border: solid;
  border-radius: var(--rounded-sm);
  border-color: var(--color-black-dark);
  border-width: var(--border-xs);
  box-shadow: var(--solid-shadow-sm);
  cursor: no-drop;
  
 
}

.pagination-link {
  padding: var(--spacing-2);
  font-size: var(--font-size-2xl);
  background-color: var(--color-white);
  border: solid;
  border-radius: var(--rounded-sm);
  border-color: var(--color-black-dark);
  border-width: var(--border-xs);
  box-shadow: var(--solid-shadow-sm);
  transition: transform 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2), 
              background-color 0.2s ease, 
              box-shadow 0.2s ease;
  cursor: pointer;
 
}

.pagination-link a{
  color: var(--color-black-dark);
  text-decoration: none;
 
}


.pagination-link:hover {
  background-color: var(--color-yellow-dark);
  transform: scale(0.95);
  box-shadow: var(--solid-shadow-xs);


}



.indicate-page-text {
  color: var(--color-white);
  font-weight: var(--font-bold);
  font-size: var(--font-size-xl);
  margin: 0 var(--spacing-6) 0 var(--spacing-6);
  text-transform: uppercase;
  
}

footer {
  background: var(--color-black-dark);
  border-radius: var(--rounded-md) var(--rounded-md) 0 0 ;
  box-shadow: var(--shadow-lg);
  color: var(--color-white);
  padding: 1.8rem 0;
  text-align: center;
  z-index: 1000;
  width: 64em;
  /* TODO - add variable for width */
  max-width: calc(100% - 4em);
  margin: 0 auto;


}



.footer-wrapper {
  width: 100%;
  position: fixed;
  /* Keeps it at the top */
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: .6rem;
  /*TODO - FOOTER GAB BELOW TEXT: TWEAK*/
  margin: 0 auto;

}

.footer-left {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

.footer-center {
  grid-column: 2;
  grid-row: 1;
  text-align: center;

}

.footer-right {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}

.footer-language {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  margin-top: 1rem;
}

.footer-logo {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  height: 3rem;
  width: auto;

}


/* Footer Social Links */
.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
 
}

.social-link,
.mail-link {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease;
}

.social-link:hover {
  color: var(--color-yellow-dark);
  transform: scale(1.2);

}



h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-barlow);
  line-height: 1.3;
  font-weight: var(--font-black);
  /* TODO var for lineheigt */
}

h1 {
  font-size: var(--font-size-5xl);
  text-transform: uppercase;
  font-weight: var(font-black);
}

h2 {
  font-size: var(--font-size-4xl);
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-3xl);
  text-transform: uppercase;
}

h4 {
  font-size: var(--font-size-2xl);
  text-transform: uppercase;
}

h5 {
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-md);
}

.custom-icon-size {
  font-size: 2rem;
}

.copyright {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
}



/*Slider*/


.carousel-cell {
  width: 100%;
  height: auto;
  display: block;

}


.carousel-cell img {
  width: 100%;
  height: auto;
  display: block;
  cursor: grab;

}

.carousel-cell img:active {
  cursor: grabbing;
}

.slider-image {
  border-radius: var(--rounded-md);
  border: var(--border-sm) solid;
  border-color: var(--color-black-medium);
}

.main-carousel {
  /* Set width or any other layout */
  max-width: 100%;
  margin: 0 auto;
  height: auto;

}

.carousel-cell.is-selected img {
  transition: border-color 0.3s ease;

}

.carousel-cell.is-selected img:hover {
  border-color: var(--color-blue-medium);
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: var(--spacing-42);
}

/* white circles */
.flickity-page-dots .dot {
  width: var(--spacing-3);
  height: var(--spacing-3);
  opacity: 1;
  background: var(--color-white);
  z-index: var(--z-loader);

}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: var(--color-blue-medium);
  transition: border 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  width: var(--spacing-4);
  height: var(--spacing-4);

}



.slider-figure {
  background: var(--color-blue-light);
  border-radius: .6rem;
  margin: 0 1.4rem 1.2rem 1.4rem;
  padding: 1.3rem;
  border: var(--border-sm) solid;
  border-color: var(--color-black-dark);
  box-shadow: var(--solid-shadow);
}

.projects-figure {
  background: var(--color-blue-light);
  border-radius: .6rem;
  margin: 0 1rem .8rem 1rem;
  padding: 1.3rem;
  border: var(--border-sm) solid;
  border-color: var(--color-black-dark);
  box-shadow: var(--solid-shadow);
  height: 40vh;
}

.projects-figure figcaption {
  padding: 1rem;
  font-family: var(--font-barlow);
}

.projects-link {
  text-decoration: none;
  font-size: var(--font-size-xl);
  color: var(--color-black-dark);
  font-weight: var(--font-bold);
  transition: color 0.3s ease;
}



.carousel-link {
  text-decoration: none;
  font-size: var(--font-size-xl);
  color: var(--color-black-dark);
  font-weight: var(--font-bold);
  transition: color 0.3s ease;
}




.carousel-link small {
  color: var(--color-white);
  font-weight: var(--font-bold);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}


.flickity-button {
  background: var(--color-white);
  transform: translateY(-50%);
  transform-origin: center !important;
  will-change: transform;
  transition: transform 0.2s cubic-bezier(0.25, 1.75, 0.5, 1.2), 
              background-color 0.2s ease, 
              box-shadow 0.2s ease;
}

.flickity-button:hover {
  background-color: var(--color-yellow-dark);
  box-shadow: var(--solid-shadow-sm);
  transform:scale(0.95) translateY(-50%);;

}

.flickity-prev-next-button {
  width: 4rem;
  height: 7rem;
  border: solid;
  border-radius: var(--rounded-sm);
  border-color: var(--color-black-dark);
  border-width: var(--border-xs);
  box-shadow: var(--solid-shadow-md);
}

/* icon color */
.flickity-button-icon {
  fill: var(--color-black-dark);

  width: 80%;
}

/* Button position outside */
.flickity-prev-next-button.previous {
  left: var(--negative-spacing-16);
}

.flickity-prev-next-button.next {
  right: var(--negative-spacing-16);
}

/* Ratio of the svg postion */
.flickity-prev-next-button .flickity-button-icon {
  height: 70%;
  width: 70%;
  left: 15%;
  top: 15%
}


.slider-grid img {
  width: 100%;
  margin-bottom: 0.5rem;
}

/* Navbar */
.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 64em;
  /* TODO - add variable for width */
  max-width: calc(100% - 4em);
  height: 80px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-black-dark);
  border-radius: 0 0 var(--rounded-md) var(--rounded-md);
  box-shadow: var(--shadow-lg);
}

.logo-container .logo {
  font-family: var(--font-barlow);
  font-size: var(--font-size-2xl);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease;
  display: inline-block;
}

.logo-container .logo:hover {
  color: var(--color-yellow-medium);
  transform: scale(1.08);
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: var(--spacing-4);
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--color-white);
  font-weight: var(--font-bold);
  font-size: var(--font-size-1xl);
  text-transform: uppercase;
  padding: var(--spacing-1) var(--spacing-2);
  transition: color 0.2s ease, background 0.2s ease, font-weight 0.2s ease;
  position: relative;
}

.nav-link:hover {
  color: var(--color-yellow-medium);

}

.nav-link.active {
  border-bottom: solid;
  border-color: var(--color-yellow-medium);
  transition: font-weight 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.nav-link.active:hover {
  border-bottom: solid;
  border-color: var(--color-yellow-medium);
  font-weight: var(--font-bold);


}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--color-white);
  margin: 6px 0;
  transition: all 0.2s ease-in-out;
}



.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
  border: 4px solid rgb(23, 20, 21);
  background: var(--color-white);
  box-shadow: var(--solid-shadow-sm);
  transition: all 0.2s ease;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
}



/*Responsive NAV */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 10px 0;
    transition: transform 0.2s ease-in-out;
  }

  .navbar-nav.active {
    display: flex;
    transform: translateY(0);
    /* Animation for menu */
  }

  .nav-link {
    display: block;
    padding: 15px;
    font-size: 1.2rem;
  }

  .hamburger {
    display: block;
  }
}

/*MEDIA QUERY TYPOGRAPHY*/

@media (max-width: 600px) {
  html {
    font-size: 87.5%;/
  }
}

/* For medium screens like tablets */
@media (max-width: 1024px) {
  html {
    font-size: 93.75%;/
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 112.5%;
  }

  h1 {
    font-size: var(--font-size-6xl);
  }

  h2 {
    font-size: var(--font-size-5xl);
  }

  h3 {
    font-size: var(--font-size-4xl);
  }
}




/* Keyframes */

/* ----------------------------------------------
 * Generated by Animista on 2025-2-16 0:21:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-top {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-hor-top {

  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}


/* Animations */

.wobble-hor-top.disabled {
  -webkit-animation: wobble-hor-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1 both;
  animation: wobble-hor-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1 both;
}

#wobbleElement {
  cursor: pointer;
}

#wobbleElement.disabled {
  pointer-events: none;
  cursor: not-allowed;

}