:root {

    /* Colors */
    --color-black-dark: #0A0A0A;
    --color-black-medium: #181818;
    --color-black-light: #292929;
    --color-gray-dark: #484848;
    --color-gray-medium: #676767;
    --color-blue-dark: #2C56C3;
    --color-blue-medium: #3D69D9;
    --color-blue-light: #6487E1;
    --color-red-dark: #FA2718;
    --color-red-medium: #FB4235;
    --color-red-light: #FC5D52;
    --color-green-dark: #5DC246;
    --color-green-medium: #7ECE6B;
    --color-green-light: #A9DE9C;
    --color-yellow-dark: #FCBB3F;
    --color-yellow-medium: #FDCC6F;
    --color-yellow-light: #FEDD9F;
    --color-purple-dark: #2D2636;
    --color-purple-medium: #342D3D;
    --color-purple-light: #484250;
    --color-olive-dark: #313D31;
    --color-olive-medium: #485248;
    --color-olive-light: #969C96;
    --color-white: #FFFFFF;

    /* Transperent Color */
    --color-black-semi-transparent: rgba(0,0,0, 0.85);


    --bevel: 15px;

    /* Font Size */

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.75rem;
    --font-size-4xl: 2.5rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;

    /* Font Family */

    --font-barlow: 'Barlow', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

    /* Font Weight */

    --font-thin: 300;
    --font-normal: 400;
    --font-semi: 500;
    --font-bold: 600;
    --font-black: 800;


    /* Rounded */
    --rounded-xs: 0.15rem;
    --rounded-sm: 0.4rem;
    --rounded-md: 0.6rem;
    --rounded-lg: 0.75rem;
    --rounded-xl: 0.9rem;
    

    /* Shadow */
    --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.025);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.05);

    --shadow: var(--shadow-sm);
    --solid-shadow: var(--color-black-dark) 3px 5px 0px 3px;
    --solid-shadow-md: var(--color-black-dark) 1.5px 3.5px 0px 1.5px;
    --solid-shadow-sm: var(--color-black-dark) 1px 3px 0px 1px;
    --solid-shadow-xs: var(--color-black-dark) 0.5px 1.5px 0px 0.5px;
    --solid-white-shadow-sm: var(--color-white) 1px 3px 0px 1px;

    /* Spacing */

    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --negative-spacing-12: -3rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --negative-spacing-16: -4.5rem;
    --spacing-24: 6rem;
    --spacing-36: 9rem;
    --spacing-42: 10.5rem;
    --spacing-48: 12rem;


    /* Z-Index */

    --z-offine: 1200;
    --z-fatal: 1100;
    --z-loader: 1000;
    --z-notification: 900;
    --z-dialog: 800;
    --z-navigation: 700;
    --z-dropdown: 600;
    --z-drawer: 500;
    --z-dropzone: 400;
    --z-toolbar: 300;
    --z-content: 200;
    --z-background: 100;


    /* Height */

    --height-xs: 1.5rem;
    --height-sm: 1.75rem;
    --height-md: 2rem;
    --height-lg: 2.25rem;
    --height-xl: 2.5rem;


    /* Border */
    --border-xxs: 0.1rem;
    --border-xs: 0.3rem;
    --border-sm: 0.45rem;
    --border-md: 0.6rem;
    --border-lg: 0.8rem;
    --border-xl: 1rem;

}


